@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --color-one: #FF8583;
    --color-two:  #F7D9C4;
    --color-text: #232323;
    --color-bg1: #EFEFEF;
    --font: "DM Sans", sans-serif;
    --color-bg2: #DCE8EC;
}

body{
    font-family: var(--font);
    color: var(--color-text);

}

.container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
}

@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    
}

@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    
}

@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    
}

@media (max-width: 576px){
    .container{
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

@keyframes icons {
    from {
      width: 120px;
      height: 120px;
      opacity: 0.8;
    }
    to {
      width: 160px;
      height: 160px;
      opacity: 0;
    }
  }
